<Settings>
  <Version>8</Version>
  <CodeVersion>1</CodeVersion>
  <TableDelimeter>,</TableDelimeter>
  <CompiledBotWidth>950</CompiledBotWidth>
  <CompiledBotHeight>650</CompiledBotHeight>
  <CompiledBotStartupMode>Normal</CompiledBotStartupMode>
  <CompiledBotCaptchaServicesIncluded>Included</CompiledBotCaptchaServicesIncluded>
  <CompiledBotOutputFile></CompiledBotOutputFile>
  <CompiledBotUIColor></CompiledBotUIColor>
  <CompiledBotUIColorEnabled>false</CompiledBotUIColorEnabled>
  <CompiledBotBackgroundTabColor></CompiledBotBackgroundTabColor>
  <CompiledBotBackgroundTabColorEnabled>false</CompiledBotBackgroundTabColorEnabled>
  <CompiledBotMenuColor></CompiledBotMenuColor>
  <CompiledBotMenuColorEnabled>false</CompiledBotMenuColorEnabled>
  <CompiledBotActiveTabColor></CompiledBotActiveTabColor>
  <CompiledBotActiveTabColorEnabled>false</CompiledBotActiveTabColorEnabled>
  <CompiledBotInactiveTabColor></CompiledBotInactiveTabColor>
  <CompiledBotInactiveTabColorEnabled>false</CompiledBotInactiveTabColorEnabled>
  <CompiledBotMouseoverTabColor></CompiledBotMouseoverTabColor>
  <CompiledBotMouseoverTabColorEnabled>false</CompiledBotMouseoverTabColorEnabled>
  <CompiledBotRemoveBranding>false</CompiledBotRemoveBranding>
  <CompiledBotHideRunBar>false</CompiledBotHideRunBar>
  <CompiledBotHideNavigationBar>false</CompiledBotHideNavigationBar>
  <CompiledBotHideBrowser>false</CompiledBotHideBrowser>
  <CompiledBotHideMenu>false</CompiledBotHideMenu>
  <CompiledBotHideWindow>false</CompiledBotHideWindow>
  <CompiledBotAffiliateNumber />
  <CompiledBotSplashPage></CompiledBotSplashPage>
  <CompiledBotOutputFile></CompiledBotOutputFile>
  <CompiledBotIcon></CompiledBotIcon>
  <CompiledBotLicenseAgreement></CompiledBotLicenseAgreement>
  <CompiledBotSoftwareName>Software Name</CompiledBotSoftwareName>
  <CompiledBotBannerImage></CompiledBotBannerImage>
  <CompiledBotSetupOutputFile></CompiledBotSetupOutputFile>
  <CompiledBotIncludedInterfaces>
    <CompiledBotIncludedInterface>Browser</CompiledBotIncludedInterface>
  </CompiledBotIncludedInterfaces>
  <CompiledBotSchedulableCommands />
  <Scripts>
    <Script name="Untitled Script" type="Normal" isHidden="false">
      <UIEditorJson />
      <UIEditorHtml />
    </Script>
  </Scripts>
</Settings>